<body>
<header>Where?</header>
<!-- javascript for slider bar below is in trips.js -->
<p>
  <label for="amount">Price Range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
<div id="slider-range"></div>
<!-- end of code for slider bar -->
</body>
</html>