<nav>
	<div id="logo">dodo flights</div>
	<ul id="nav_options" class="nav">
		<li class="nav_items">
			<%= link_to 'create alert', root_path %>
		</li>

		<li class="nav_items">
			<% if user_signed_in? %>
				<%= link_to 'logout', destroy_user_session_url, method: :delete %></li> 
			<% else %>
				<%= link_to 'log in', new_user_session_path %>
			<% end %>
		</li>
	</ul>
</nav>
 <%#= session.inspect %>

