<h1>Flight: <%= @flight.id %></h1>

<div id="flight"> 
	<div class="flight_origin">
		<%= @flight.beginning_airport %>
	</div>

	<div class="flight_destination">
		<%= @flight.ending_airport %>
	</div>


</div>