/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require jqvmap
 *= require_tree .
 *= require_self

 */

 nav {
 	width: 100%;
 	height: 50px;
 	box-shadow: 2px 2px 2px #D6D6D6;
 	position: fixed;
 	top: 0;
 	background: #F2F8FC;
 	z-index:4
 }

 body {
	position: relative;
}

body a, a:hover, a:visited {
	color: black;
}

 .nav_hover {
 	background-color: #D3DDE3;
 }

 #logo {
 	position: fixed;
 	left: 10px;
 	top: 10px;
 	font-size: 30px;
 	font-family: 'Raleway', sans-serif;
 }

 #logo a {
 	text-decoration: none;
 }

 #nav_options {
 	position: fixed;
 	right: 0;
 	font-family: 'Raleway', sans-serif;
 	font-size: 18px;
 }

 #nav_options li {
 	display: block;
 	height: 50px;
 	width: 150px;
 	float: right;
 	border: 1px solid #F0F0F0;
 	text-align: center;
 	line-height: 50px;
 }

#nav_options a {
	text-decoration: none;
}

#authentication {
  padding: 60px;
}


 /* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
fgre, figcaption, footer, header, hgroup,
menu nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
