header {
  background-color: #001F72;
  color: white;
  margin-top: 0;
  top: 0;
  position: fixed;
  clear: both;
  width: 100%;
  text-align: center;
  display: block;
  z-index: 4
}

#mapslider {
	margin-top: 6em;
}

